<%= form_for [@post, @post.comments.build] do |f| %>
  <div class="form-group comment-form">
    <%= f.text_area :body, class: "form-control", placeholder: "Agregar comentario" %>
  </div>

    <%= f.submit "Comentar", class: "btn btn-primary commentbutton"%>

<%end%>
